.card{
    width: 300px;
    height: 150pcx;
}
.card img{
    width: 300px;
    height: 150px;
}
#search_input{
    margin-top:20px ;
    margin: bottom 20px; 
    margin-left: 500px;
}
.top{
    margin-left:500px ;
    
}